<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="/signin.css">
</head>
<body>
    <div class="login_form">
    <h2>sign up</h2>
        <div class="login">
    <form action="/signup" method="post">
        <input type="text" name="fullname" placeholder="Enter Name">
        <input type="text" name="contact" placeholder="Contact no">
        <input type="text" name="flatno" placeholder="Flat no">
        <input type="text" name="wingname" placeholder="Wing Name">
        <input type="text" name="name" placeholder="User Name">
        <input type="password" name="password" placeholder="Password">
        <input type="submit">   
    
    </form>
</div>
    <div class="login_form">
</body>
</html>